.About {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutCenter {
    border-style: solid;
    border-width: 1em;
    border-radius: 1em;
    border-color: rgb(158 215 188);
    
    border-bottom-color:rgb(0, 64, 0,.2); 
    border-bottom-width: 3em;
    border-bottom-style:solid;
    display:flex; 
    background-color: rgba(0, 128, 0,.2); 
    
    
    width: 80vw;
    max-width: 1000px; 
}

.AboutCenter h1 {
    font-size: 4vh;
    font-weight: 900;
    background-color: #85ced2;
    position: absolute;
    border:.2em; 
    border-radius: .6em;
    border-style:dashed;
    padding:.3em;
    left:0; 
    padding-right: 3em;
    padding-top:0px;
    padding-bottom: 0px;
    margin:0; 
}
.AboutCenter p {
    font-weight: 700;
    background-color: #86bb96;
    padding:1em; 
    border-radius: 1em;
    margin-top:10vh; 
}