

#navbar li p {
    color:white; 
    background-color: black;
    border-radius: 2em;
    font-weight: bolder;
    width: 100px;
    padding:0;  
    margin:0; 
    cursor: default;
    text-align: center;
}


#navbar {
    z-index: 99999;
	position: fixed; 
	top:0; 
	padding:2%; 
	list-style: none;
	display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
	transition: width 1.5s;
    margin: 0;
    padding: 0;

}

#navbar li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;

}

.pagelink img {
    fill:blue; 
}
.pagelink {
	margin-right:3vw;
	font-weight: bolder;
	color:rgba(255, 255, 255, 0.685); 
	transition: opacity 2s, color 1s, font-size .2s,  background-color .1s; 
	font-size: 2vh;
	text-align: center;
    background-color: rgba(0, 0, 0, 0.425);
	border-radius: 1vh;
    color:white; 
    
    
}
.pagelink:hover {
	
    background-color: rgba(5, 146, 0, 0.425);
	font-size: 5vh; 
	opacity: 150%;
	color:white; 
}

#cart {
    font-size: 5vh;
}


